<div class="section-container">
  <h1>Resumo Profissional</h1>
  <p>
    Sou <strong>William Pedrolo Bourscheid</strong>, estudante do último semestre de Ciência da Computação na <strong>UFPel</strong>, com foco em <strong>desenvolvimento Back-End</strong>.
  </p>
  <p>
    Tenho experiência em desenvolvimento de sistemas, aprendizado de máquina e bancos de dados. Busco aplicar tecnologia de forma inteligente e ética, especialmente em projetos que envolvam análise de informações e automação.
  </p>
  <p>
    Atualmente, desenvolvo projetos pessoais para aprimorar minhas habilidades em <strong>Python</strong>, <strong>SQL</strong> e <strong>visualização de dados</strong>.
  </p>
</div>
