<div class="home-container">
  <div class="intro">
    <h1>William Bourscheid</h1>
    <h2>Desenvolvedor Back-end</h2>
    <p>Explorando o cruzamento entre tecnologia, criatividade e pensamento crítico.  
    Este portfólio reúne projetos, estudos e ideias que me movem.</p>

    <div class="buttons">
      <a class="btn" href="https://github.com/wpbourscheid" target="_blank">GitHub</a>
      <a class="btn" href="https://www.linkedin.com/in/wpbourscheid/" target="_blank">LinkedIn</a>
      <a class="btn" href="mailto:williampedrolobourscheid@gmail.com">Contato</a>
    </div>
  </div>
</div>
