<div class="section-container">
  <h1>Projetos</h1>
  
  <div class="project">
  <h2>Trechos da Olivia Rodrigo</h2>
  <p>
    Aplicativo web que permite identificar músicas da Olivia Rodrigo a partir de trechos de letras. Oferece uma experiência interativa para fãs encontrarem suas músicas favoritas.
    Desenvolvido com Python e Flask no backend e HTML/CSS/JavaScript no frontend. Integração com APIs de letras musicais e com a Spotify Web API (OAuth para busca de faixas, metadados e previews).
  </p>

  <div class="project-buttons">
    <a href="https://trechos-olivia-rodrigo.onrender.com/" target="_blank" class="btn-site">
      🌐 Ver Site
    </a>

    <a href="https://github.com/wpbourscheid/olivia-rodrigo-trechos" target="_blank" class="btn-github">
      🐙 Ver no GitHub
    </a>
  </div>
</div>

  <div class="project">
    <h2>📊 Calculadora de Ancestralidade</h2>
    <p>
      Projeto de análise genética utilizando dados do ABraOM para estimar proporções de ancestralidade com base em frequências gênicas.
    </p>
  </div>
</div>
